* {
    background-color:rgb(232, 205, 173);
}
a {
    color: rgb(255, 140, 0);
}
.links {
    max-width: 600px;
    display: inline-block;
    font-family: 'Montserrat';
}
body {
    max-width: 600px;
    margin-left: 5%;
    display: inline-block;
}
.title {
    line-height: .5em;
    font-family: 'Oswald';
    font-size: 50px;
}
.entry {
    text-align: left;
    line-height: 1.5;
    font-family: 'Montserrat';
} 



